@import url('./header.css');
@import url('./banner.css');
@import url('./form.css');

:root {
    --font: 'Montserrat', sans-serif;
    --black: #000000;
    --blue: #6BD1FF;
    --white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}